{% extends 'school/base.html' %}
{% block content %}
<style>
    .teacher-heading {
        border: 5px solid #9ac9f2;
        padding: 15px 30px;
        background-color: #f4f5f4;
        color: #0682eb;
        font-size: 32px;
        font-weight: bold;
        border-radius: 10px;
        display: inline-block;
        text-transform: uppercase;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        margin: 10px 0px 0px 20%;
    }

    @media (min-width: 1000px) {
        .teacher-heading {
            margin: 10px 0px 0px 40%;
            display: inline-block;

        }
    }
</style>

<div class="container">
    <h2 class="text-center mb-4 teacher-heading">                
        শিক্ষকমন্ডলী
    </h2>

    <div class="row">
        {% for teacher in teachers %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" style="border-radius: 6px;
">
            <div class="card text-center">
                <img src="{% if teacher.profile_pic %}{{ teacher.profile_pic.url }}{% else %}/static/images/default-profile.png{% endif %}" 
                class="card-img-top" alt="{{ teacher.name }}" style="height: 245px; object-fit: cover; ">
                <div class="card-body">
                    <h5 class="card-title text-uppercase " style="font-weight: 600;">{{ teacher.name }}</h5>
                    <p class="card-text">{{ teacher.designation }}</p>
                    <p>Contact: {{ teacher.mobile }}</p>
                    <a href="{% url 'teacher_detail' teacher.id %}" class="btn btn-primary btn-sm">বিস্তারিত দেখুন</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

